
*{
  margin: 0;
  padding: 0;
  text-align: none; 
  gap: 20px;
}

.container{
  display: flex;
}

main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background:purple;
  color: white;
  height: 100%;
  width: 300%;
}
.top_section{
display: flex;
align-items: center;
padding: 20px 15px;

}

.logo{
  font-size: 25px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-bottom: 0px;
  padding-left: 15px;
}
.link{
  display: flex;
  color: white;
  padding: 10px 15px;
}
link:hover{
  background-color: rgb(107, 97, 107);
  color: white;
  transition: all;
}

.icon, .link_text{
  font-size: 20px;
}

.active{
  background-color: rgb(20, 72, 104);
  color: orange;
}

